<h1><%= @merchant.name%>'s Bulk Discounts</h1>

<% @discounts.each do |discount| %>
    <ul>
        <li>Discount: <%=discount.name%></li>
        <li>Threshold: <%=discount.quantity%></li>
        <li>Discount Percentage: <%=discount.discount%></li>
    </ul>

<% end %>
