<div class="container">
  <div class="row header">
    <div class="col-lg-12 text-center">
      <h1>Dashboard</h1>
    </div>
  </div>

    <br>
    <div class="row">
        <div class="col">
            <div class="incomplete_invoices">
                <h3>Incomplete Invoices</h3>
                <% @incomplete.each do |invoice|  %>
                <p><%= link_to("Invoice ##{invoice.id}", admin_invoice_path(invoice)) %>
                    <p>Created: <%= date_formatter(invoice.created_at) %>
                        <% end %>
            </div>
        </div>
        <div class="col">
            <div class="top_customers">
                <h3>Top Customers</h3>
                <ol>
                    <% @top_customers.each do |customer| %>
                    <li><%="#{customer.first_name} #{customer.last_name} - #{customer.count} purchases"%> </li>
                    <% end %>
                </ol>
            </div>
        </div>
    </div>
</div>